{{ 'product-popup.css' |  asset_url |  stylesheet_tag}} 
{{ 'bundle.css' |  asset_url |  stylesheet_tag}} 

<div class="product-popup-bg">
  <div class="product-popup">
    <div class="product-close-btn">{% render 'icon-close-small' %}</div>
    <div class="product-carousel">
            <button class="product-img-left"><</button>
            <button class="product-img-right">></button>
        </div>
    <div class="product-details">
      <div class="popup-ratings">
        <i class="fa-solid fa-star rating-star"></i>
        <i class="fa-solid fa-star rating-star"></i>
        <i class="fa-solid fa-star rating-star"></i>
        <i class="fa-solid fa-star rating-star"></i>
        <i class="fa-solid fa-star rating-star"></i>
        <p class="rating-text">4.8(121)</p>
      </div>
      <h2 id="popup-product-name" class="popup-product-name">Product Name</h2>
      <p id="popup-product-subhead" class="popup-product-subhead">Anime Mesh Shorts</p>
      <div id="popup-product-price" class="popup-product-price">
        <p class="normal">$35 USD</p>
        <p class="striked">$40 USD</p>
      </div>
      <div class="choose-size">
        <p>Choose sizes:</p>
        <h4 id="size-btn">Size Chart</h4>
      </div>
      <div class="size-popup">
        <div class="size-chart-close-btn">{% render 'icon-close-small' %}</div>
        {% render 'size-chart' %}
      </div>
      <div class="size-options">
        <div class="size">XS</div>
        <div class="size">S</div>
        <div class="size">M</div>
        <div class="size">L</div>
        <div class="size">XL</div>
        <div class="size">2XL</div>
        <div class="size">3XL</div>
      </div>
      <button id="shop-now-btn" class="shop-now">SHOP NOW</button>
    </div>
    <div class="review-images">
         

    </div>
  </div>
</div>




<div id="bundle-bg" class="bundle-bg">
    <div class="bundle-container">
        <div class="bundle-heading">
            <h3>Build your Bundle :</h3>
            <p>Pick 3 to get 1 free</p>
        </div>
    
        <div class="bundle-tracker-container">
            <div class="bundle-tracker-headings">
                <p class="tracker-heading1">Buy 2</p>
                <p class="tracker-heading2">Buy 3</p>
                <p class="tracker-heading3">Buy 4</p>
            </div>
            <div class="bundle-tracker">
                <div class="bundle-tracker-path">
                    <div id="level-1" class="bundle-tracker-level">path 1</div>
                    <div id="level-2" class="bundle-tracker-level">path 2</div>
                    <div id="level-3" class="bundle-tracker-level">path 3</div>
    
                </div>
                <div id="buy-1" class="bundle-tracker-points">Buy 1</div>
                <div id="buy-2" class="bundle-tracker-points">Save 10%</div>
                <div id="buy-3" class="bundle-tracker-points">Free shipping $99+</div>
                <div id="buy-4" class="bundle-tracker-points">GET FREE</div>
            </div>
        </div>
    
        <div class="bundle-products">
            <div id="bundle-product-1" class="bundle-product bundle-product-1">
                 <button id="bundle-close-btn-1" class="bundle-product-close-btn">
                    {% render 'icon-close-small' %}
                </button> 
            </div>
            <div id="bundle-product-2"  class="bundle-product bundle-product-2">
                <button id="bundle-close-btn-2" class="bundle-product-close-btn">
                    {% render 'icon-close-small' %}
                </button> 
            </div>
            <div id="bundle-product-3" class="bundle-product bundle-product-3">
                 <button id="bundle-close-btn-3" class="bundle-product-close-btn">
                    {% render 'icon-close-small' %}
                </button> 
            </div>
            <div id="bundle-product-4" class="bundle-product bundle-product-4">
                 <button id="bundle-close-btn-4" class="bundle-product-close-btn">
                    {% render 'icon-close-small' %}
                </button> 
            </div>
        </div>
    
        <div class="bundle-price">
            <h6>Your price:</h6>
            <p id="bundle-total" class="normal">$0.00</p>
            <p id="bundle-saved" class="striked">$0.00</p>
            <h4 id="bundle-discount">Save 40% Off</h4>
        </div>
    
        <button id="bundle-cart-btn" class="bundle-cart-btn">Add to Cart</button>
    
        <div class="bundle-baseline">
  <p>{% render 'icon-tick' %} 100% satisfaction guaranteed</p>
</div>

    </div>
    </div>


  





 <script src="{{ 'main.js' | asset_url }}"></script> 

   <script>

    // FOR OPENING SIZE POPUP...
  let size = document.querySelector("#size-btn");
  let sizePop = document.querySelector(".size-popup");

  size.addEventListener("click", ()=>{
    console.log("size btn was clicked");
    sizePop.style.display = "block";
  })

  // FOR CLOSING SIZE POPUP...

  let sizepopUpCloseBtn = document.querySelector(".size-chart-close-btn");

  sizepopUpCloseBtn.addEventListener("click", ()=>{
    sizePop.style.display = "none";
  })

  // FOR CLOSING THE POPUP...
   
  let productpopUpCloseBtn = document.querySelector(".product-close-btn");
  let productPopUpBG = document.querySelector(".product-popup-bg");

  productpopUpCloseBtn.addEventListener("click", ()=>{
    console.log("close btn was clicked");
    productPopUpBG.style.display = "none";
  })

  let popupShopNow =  document.querySelector("#shop-now-btn");
  let bundleBackground = document.querySelector("#bundle-bg");

  popupShopNow.addEventListener("click", ()=>{
    console.log("shop now btn was clicked");
    bundleBackground.style.display = "block";
  })

 </script>   



 {% schema %}
{
    "name": "product-popup",
    "settings": [],
    "presets": [{
        "name": "product-popup"
    }]
}
{% endschema %}  
